backend/Parquet-read-web-API/.vs
backend/Parquet-read-web-API/bin/
backend/Parquet-read-web-API/obj/

# Logs
frontend/ParquetUI/logs
frontend/ParquetUI/*.log
frontend/ParquetUI/npm-debug.log*
frontend/ParquetUI/yarn-debug.log*
frontend/ParquetUI/yarn-error.log*
frontend/ParquetUI/pnpm-debug.log*
frontend/ParquetUI/lerna-debug.log*

frontend/ParquetUI/node_modules
frontend/ParquetUI/dist
frontend/ParquetUI/dist-ssr
frontend/ParquetUI/*.local

# Editor directories and files
frontend/ParquetUI/.vscode/*
frontend/ParquetUI/!.vscode/extensions.json
frontend/ParquetUI/.idea
frontend/ParquetUI/.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sw?
