backend/Parquet-read-web-API/.vs
backend/Parquet-read-web-API/bin/
backend/Parquet-read-web-API/obj/

# Logs
frontend/Parquet_UI/logs
frontend/Parquet_UI/*.log
frontend/Parquet_UI/npm-debug.log*
frontend/Parquet_UI/yarn-debug.log*
frontend/Parquet_UI/yarn-error.log*
frontend/Parquet_UI/pnpm-debug.log*
frontend/Parquet_UI/lerna-debug.log*

frontend/Parquet_UI/node_modules
frontend/Parquet_UI/dist
frontend/Parquet_UI/dist-ssr
frontend/Parquet_UI/*.local

# Editor directories and files
frontend/Parquet_UI/.vscode/*
frontend/Parquet_UI/!.vscode/extensions.json
frontend/Parquet_UI/.idea
frontend/Parquet_UI/.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sw?
